* {
    --color-primary-0: #EEECFF;
    --color-primary-1: #3B3854;
    --color-primary-2: #2E2B43;
    --color-primary-3: #29263D;
    --color-primary-4: #252238;

    --yellow-bright: #FFCA42;
    --yellow-contrast: #564d36;
    --pink-bright: #F43984;
    --pink-contrast: #432A49;
    --purple-bright: #793AFF;
    --purple-contrast: #332855;
    --blue-bright: #1C9CE3;
    --blue-contrast: #374465;
    --orange-bright: #F55063;
    --orange-contrast: #5a3443;
    --green-bright: #41CD7D;
    --green-contrast: #2a4446;
    --black-bright: #201E26;
    --black-contrast: #2B2C39;
}
